<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.dao.base.TbGiftInfoMapper">
  <resultMap id="BaseResultMap" type="com.work.domain.TbGiftInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="giftdesc" jdbcType="VARCHAR" property="giftdesc" />
    <result column="giftpath" jdbcType="VARCHAR" property="giftpath" />
    <result column="gifttype" jdbcType="VARCHAR" property="gifttype" />
    <result column="giftcompletepath" jdbcType="VARCHAR" property="giftcompletepath" />
    <result column="picsize" jdbcType="INTEGER" property="picsize" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, giftdesc, giftpath, gifttype, giftcompletepath, picsize, createtime, updatetime, 
    status
  </sql>
  <select id="selectByExample" parameterType="com.work.domain.TbGiftInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_gift_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_gift_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_gift_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.work.domain.TbGiftInfoExample">
    delete from tb_gift_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.work.domain.TbGiftInfo">
    insert into tb_gift_info (id, giftdesc, giftpath, 
      gifttype, giftcompletepath, picsize, 
      createtime, updatetime, status
      )
    values (#{id,jdbcType=VARCHAR}, #{giftdesc,jdbcType=VARCHAR}, #{giftpath,jdbcType=VARCHAR}, 
      #{gifttype,jdbcType=VARCHAR}, #{giftcompletepath,jdbcType=VARCHAR}, #{picsize,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.work.domain.TbGiftInfo">
    insert into tb_gift_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="giftdesc != null">
        giftdesc,
      </if>
      <if test="giftpath != null">
        giftpath,
      </if>
      <if test="gifttype != null">
        gifttype,
      </if>
      <if test="giftcompletepath != null">
        giftcompletepath,
      </if>
      <if test="picsize != null">
        picsize,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="giftdesc != null">
        #{giftdesc,jdbcType=VARCHAR},
      </if>
      <if test="giftpath != null">
        #{giftpath,jdbcType=VARCHAR},
      </if>
      <if test="gifttype != null">
        #{gifttype,jdbcType=VARCHAR},
      </if>
      <if test="giftcompletepath != null">
        #{giftcompletepath,jdbcType=VARCHAR},
      </if>
      <if test="picsize != null">
        #{picsize,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.work.domain.TbGiftInfoExample" resultType="java.lang.Long">
    select count(*) from tb_gift_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_gift_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.giftdesc != null">
        giftdesc = #{record.giftdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.giftpath != null">
        giftpath = #{record.giftpath,jdbcType=VARCHAR},
      </if>
      <if test="record.gifttype != null">
        gifttype = #{record.gifttype,jdbcType=VARCHAR},
      </if>
      <if test="record.giftcompletepath != null">
        giftcompletepath = #{record.giftcompletepath,jdbcType=VARCHAR},
      </if>
      <if test="record.picsize != null">
        picsize = #{record.picsize,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_gift_info
    set id = #{record.id,jdbcType=VARCHAR},
      giftdesc = #{record.giftdesc,jdbcType=VARCHAR},
      giftpath = #{record.giftpath,jdbcType=VARCHAR},
      gifttype = #{record.gifttype,jdbcType=VARCHAR},
      giftcompletepath = #{record.giftcompletepath,jdbcType=VARCHAR},
      picsize = #{record.picsize,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.work.domain.TbGiftInfo">
    update tb_gift_info
    <set>
      <if test="giftdesc != null">
        giftdesc = #{giftdesc,jdbcType=VARCHAR},
      </if>
      <if test="giftpath != null">
        giftpath = #{giftpath,jdbcType=VARCHAR},
      </if>
      <if test="gifttype != null">
        gifttype = #{gifttype,jdbcType=VARCHAR},
      </if>
      <if test="giftcompletepath != null">
        giftcompletepath = #{giftcompletepath,jdbcType=VARCHAR},
      </if>
      <if test="picsize != null">
        picsize = #{picsize,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.work.domain.TbGiftInfo">
    update tb_gift_info
    set giftdesc = #{giftdesc,jdbcType=VARCHAR},
      giftpath = #{giftpath,jdbcType=VARCHAR},
      gifttype = #{gifttype,jdbcType=VARCHAR},
      giftcompletepath = #{giftcompletepath,jdbcType=VARCHAR},
      picsize = #{picsize,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>